In [1]:
import pandas as pd
import numpy as np

### Importing Dataset

In [80]:
df=pd.read_csv("ratings.csv")
df.head(10)

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5
5       1     1088     4.0
6       1     1175     3.5
7       1     1217     3.5
8       1     1237     5.0
9       1     1250     4.0

### Data-Explorations

In [81]:
print('Number of Unique Users are {}'.format(len(df['userId'].unique())))

Number of Unique Users are 7045

In [82]:
print('Number of Unique Movies are {}'.format(len(df['movieId'].unique())))

Number of Unique Movies are 22240

In [83]:
df['rating'].value_counts()

4.0    280291
3.0    207514
5.0    152646
3.5    130755
4.5     90051
2.0     69617
2.5     53093
1.0     31975
1.5     17494
0.5     15139
Name: rating, dtype: int64

In [78]:
df['userId'].unique()

array([     1,      2,      3, ..., 162539, 162540, 162541], dtype=int64)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [79]:
df.rating.describe()

count    2.500010e+07
mean     3.533854e+00
std      1.060744e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [13]:
df.describe()

             userId       movieId        rating     timestamp
count  2.500010e+07  2.500010e+07  2.500010e+07  2.500010e+07
mean   8.118928e+04  2.138798e+04  3.533854e+00  1.215601e+09
std    4.679172e+04  3.919886e+04  1.060744e+00  2.268758e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    4.051000e+04  1.196000e+03  3.000000e+00  1.011747e+09
50%    8.091400e+04  2.947000e+03  3.500000e+00  1.198868e+09
75%    1.215570e+05  8.623000e+03  4.000000e+00  1.447205e+09
max    1.625410e+05  2.091710e+05  5.000000e+00  1.574328e+09

In [15]:
df.isnull().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

In [26]:
df.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [28]:
df.duplicated().sum()

0

In [29]:
df[df.duplicated()].shape

(0, 4)

In [31]:
duplicates = df['userId'].duplicated()
duplicates

0           False
1            True
2            True
3            True
4            True
            ...
25000090     True
25000091     True
25000092     True
25000093     True
25000094     True
Name: userId, Length: 25000095, dtype: bool

In [52]:
df.groupby('movieId')['rating'].mean().sort_values(ascending=False).head()

movieId
136782    5.0
186119    5.0
137032    5.0
184643    5.0
137038    5.0
Name: rating, dtype: float64

In [53]:
df.groupby('movieId')['rating'].count().sort_values(ascending=False).head(10)

movieId
356     81491
318     81482
296     79672
593     74127
2571    72674
260     68717
480     64144
527     60411
110     59184
2959    58773
Name: rating, dtype: int64

### Pre-Processings

In [85]:
df1=df.copy()
df1.dropna(inplace=True)
df1.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

### # Calculating Cosine Similarity between Users

In [86]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation, jaccard

In [87]:
user_movies_df = df1.pivot_table(index='userId', columns='movieId', values='rating').fillna(0)
user_movies_df

movieId,1,2,3,4,5,6,7,8,9,10,...,207642,207830,207890,208002,208080,208112,208737,208793,208939,209163
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7041,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7042,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7045,4.5,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
user_sim = 1 - pairwise_distances(user_movies_df.values, metric = 'cosine')
user_sim

array([[1.        , 0.04086293, 0.06130627, ..., 0.04297792, 0.02148534,
        0.04277107],
       [0.04086293, 1.        , 0.17900861, ..., 0.09032635, 0.19037477,
        0.37009439],
       [0.06130627, 0.17900861, 1.        , ..., 0.06088   , 0.07479442,
        0.12863813],
       ...,
       [0.04297792, 0.09032635, 0.06088   , ..., 1.        , 0.06458488,
        0.11753893],
       [0.02148534, 0.19037477, 0.07479442, ..., 0.06458488, 1.        ,
        0.16432522],
       [0.04277107, 0.37009439, 0.12863813, ..., 0.11753893, 0.16432522,
        1.        ]])

In [89]:
# Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)
user_sim_df

,0,1,2,3,4,5,6,7,8,9,...,7035,7036,7037,7038,7039,7040,7041,7042,7043,7044
0,1.000000,0.040863,0.061306,0.040815,0.015609,0.000000,0.093852,0.021359,0.022860,0.026149,...,0.066350,0.020300,0.032775,0.080646,0.000000,0.076503,0.018670,0.042978,0.021485,0.042771
1,0.040863,1.000000,0.179009,0.197496,0.158202,0.129720,0.064954,0.176880,0.128820,0.156814,...,0.234043,0.108868,0.107612,0.380926,0.168061,0.221649,0.155730,0.090326,0.190375,0.370094
2,0.061306,0.179009,1.000000,0.357750,0.061448,0.115148,0.031427,0.081003,0.061602,0.132361,...,0.467198,0.073502,0.395024,0.240655,0.123241,0.134694,0.084734,0.060880,0.074794,0.128638
3,0.040815,0.197496,0.357750,1.000000,0.065825,0.072365,0.015566,0.088927,0.066428,0.083821,...,0.322546,0.038947,0.318556,0.187358,0.059653,0.136363,0.049125,0.040988,0.109771,0.141168
4,0.015609,0.158202,0.061448,0.065825,1.000000,0.114936,0.202348,0.307769,0.216435,0.269897,...,0.130110,0.085107,0.023003,0.180271,0.149147,0.194882,0.239160,0.271511,0.047564,0.228955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040,0.076503,0.221649,0.134694,0.136363,0.194882,0.212102,0.180488,0.145485,0.152821,0.176645,...,0.167885,0.136723,0.102221,0.301522,0.159873,1.000000,0.149934,0.105072,0.091330,0.292095
7041,0.018670,0.155730,0.084734,0.049125,0.239160,0.102047,0.262403,0.241166,0.128034,0.297456,...,0.128121,0.094988,0.040009,0.186798,0.222852,0.149934,1.000000,0.328257,0.020041,0.215298
7042,0.042978,0.090326,0.060880,0.040988,0.271511,0.067861,0.277812,0.345022,0.158205,0.355405,...,0.142028,0.092548,0.018096,0.150385,0.290331,0.105072,0.328257,1.000000,0.064585,0.117539
7043,0.021485,0.190375,0.074794,0.109771,0.047564,0.024465,0.000000,0.040527,0.040556,0.034929,...,0.119149,0.087914,0.059571,0.160005,0.072184,0.091330,0.020041,0.064585,1.000000,0.164325
7044,0.042771,0.370094,0.128638,0.141168,0.228955,0.255546,0.148468,0.246804,0.247189,0.172571,...,0.243835,0.131837,0.069283,0.297775,0.254271,0.292095,0.215298,0.117539,0.164325,1.000000

In [90]:
user_sim_df.iloc[:5,:5]

          0         1         2         3         4
0  1.000000  0.040863  0.061306  0.040815  0.015609
1  0.040863  1.000000  0.179009  0.197496  0.158202
2  0.061306  0.179009  1.000000  0.357750  0.061448
3  0.040815  0.197496  0.357750  1.000000  0.065825
4  0.015609  0.158202  0.061448  0.065825  1.000000

In [91]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5,0:5]

          0         1         2         3         4
0  0.000000  0.040863  0.061306  0.040815  0.015609
1  0.040863  0.000000  0.179009  0.197496  0.158202
2  0.061306  0.179009  0.000000  0.357750  0.061448
3  0.040815  0.197496  0.357750  0.000000  0.065825
4  0.015609  0.158202  0.061448  0.065825  0.000000

In [92]:
# Set the index and column name to user Ids
user_sim_df.index = list(user_movies_df.index)
user_sim_df.columns = list(user_movies_df.index)
user_sim_df

,1,2,3,4,5,6,7,8,9,10,...,7036,7037,7038,7039,7040,7041,7042,7043,7044,7045
1,0.000000,0.040863,0.061306,0.040815,0.015609,0.000000,0.093852,0.021359,0.022860,0.026149,...,0.066350,0.020300,0.032775,0.080646,0.000000,0.076503,0.018670,0.042978,0.021485,0.042771
2,0.040863,0.000000,0.179009,0.197496,0.158202,0.129720,0.064954,0.176880,0.128820,0.156814,...,0.234043,0.108868,0.107612,0.380926,0.168061,0.221649,0.155730,0.090326,0.190375,0.370094
3,0.061306,0.179009,0.000000,0.357750,0.061448,0.115148,0.031427,0.081003,0.061602,0.132361,...,0.467198,0.073502,0.395024,0.240655,0.123241,0.134694,0.084734,0.060880,0.074794,0.128638
4,0.040815,0.197496,0.357750,0.000000,0.065825,0.072365,0.015566,0.088927,0.066428,0.083821,...,0.322546,0.038947,0.318556,0.187358,0.059653,0.136363,0.049125,0.040988,0.109771,0.141168
5,0.015609,0.158202,0.061448,0.065825,0.000000,0.114936,0.202348,0.307769,0.216435,0.269897,...,0.130110,0.085107,0.023003,0.180271,0.149147,0.194882,0.239160,0.271511,0.047564,0.228955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7041,0.076503,0.221649,0.134694,0.136363,0.194882,0.212102,0.180488,0.145485,0.152821,0.176645,...,0.167885,0.136723,0.102221,0.301522,0.159873,0.000000,0.149934,0.105072,0.091330,0.292095
7042,0.018670,0.155730,0.084734,0.049125,0.239160,0.102047,0.262403,0.241166,0.128034,0.297456,...,0.128121,0.094988,0.040009,0.186798,0.222852,0.149934,0.000000,0.328257,0.020041,0.215298
7043,0.042978,0.090326,0.060880,0.040988,0.271511,0.067861,0.277812,0.345022,0.158205,0.355405,...,0.142028,0.092548,0.018096,0.150385,0.290331,0.105072,0.328257,0.000000,0.064585,0.117539
7044,0.021485,0.190375,0.074794,0.109771,0.047564,0.024465,0.000000,0.040527,0.040556,0.034929,...,0.119149,0.087914,0.059571,0.160005,0.072184,0.091330,0.020041,0.064585,0.000000,0.164325
7045,0.042771,0.370094,0.128638,0.141168,0.228955,0.255546,0.148468,0.246804,0.247189,0.172571,...,0.243835,0.131837,0.069283,0.297775,0.254271,0.292095,0.215298,0.117539,0.164325,0.000000

### Recommendation Function

In [101]:
def give_recommendation(user_id):
    item = list(user_sim_df.sort_values([user_id],ascending=False).head(100).index)
    movie_list=[]
    for i in item:
        movie_list=movie_list+list(df[df['userId']==i]['movieId'])
    return set(movie_list)-set(df[df['userId']==user_id]['movieId'])

In [103]:
user_id = input("Please Enter the UserId to get the recommended Movie List\n")
give_recommendation(int(user_id))

Please Enter the UserId to get the recommended Movie List
2

{122882,
 2,
 3,
 5,
 6,
 122886,
 7,
 32770,
 10,
 11,
 9,
 122890,
 12,
 8207,
 16,
 17,
 18,
 19,
 8208,
 21,
 22,
 15,
 57368,
 24,
 26,
 122904,
 25,
 20,
 23,
 31,
 32,
 122912,
 34,
 35,
 36,
 8228,
 38,
 39,
 122920,
 41,
 122922,
 8,
 44,
 122918,
 46,
 47,
 48,
 42,
 50,
 65588,
 54,
 58,
 60,
 8253,
 63,
 65,
 41025,
 8259,
 49220,
 69,
 70,
 66,
 73,
 74,
 65612,
 8268,
 76,
 79,
 85,
 86,
 87,
 88,
 93,
 94,
 95,
 101,
 104,
 105,
 107,
 111,
 112,
 49272,
 139385,
 49274,
 121,
 122,
 49278,
 73854,
 49280,
 135,
 27,
 8330,
 140,
 141,
 28,
 144,
 145,
 146,
 147,
 8338,
 8340,
 29,
 153,
 8341,
 155,
 157,
 158,
 57504,
 161,
 160,
 163,
 162,
 165,
 164,
 168,
 170,
 8361,
 169,
 8362,
 172,
 8366,
 173,
 176,
 8371,
 8372,
 8373,
 57526,
 181,
 8376,
 185,
 186,
 180,
 57528,
 8378,
 188,
 193,
 194,
 8387,
 196,
 49347,
 198,
 106696,
 203,
 204,
 207,
 208,
 209,
 8401,
 212,
 8405,
 215,
 216,
 219,
 222,
 223,
 224,
 225,
 227,
 229,
 230,
 231,
 232,
 234,
 235,
 33004,
 237,
 8426,
 238,
 239,
 49396,
 246,
 247,
 248,
 249,
 250,
 252,
 253,
 256,
 258,
 262,
 265,
 267,
 33036,
 8459,
 270,
 8464,
 272,
 273,
 275,
 276,
 277,
 279,
 280,
 281,
 282,
 106782,
 288,
 106785,
 290,
 289,
 292,
 293,
 90405,
 8487,
 296,
 57640,
 299,
 300,
 8493,
 8492,
 303,
 305,
 307,
 308,
 8501,
 314,
 315,
 316,
 317,
 319,
 8512,
 155968,
 322,
 324,
 327,
 329,
 332,
 8526,
 8528,
 8529,
 8530,
 339,
 337,
 340,
 342,
 8533,
 344,
 164179,
 345,
 8534,
 350,
 8542,
 351,
 353,
 355,
 357,
 360,
 361,
 362,
 367,
 368,
 370,
 371,
 372,
 374,
 376,
 377,
 49530,
 379,
 381,
 8574,
 383,
 382,
 384,
 33154,
 8580,
 8581,
 33158,
 8582,
 393,
 33162,
 8589,
 8591,
 8593,
 8596,
 405,
 8600,
 410,
 8604,
 413,
 414,
 8607,
 415,
 412,
 8610,
 419,
 420,
 422,
 423,
 8616,
 428,
 74156,
 8622,
 8623,
 432,
 431,
 434,
 435,
 440,
 441,
 442,
 443,
 8633,
 8638,
 8640,
 8641,
 450,
 8643,
 8644,
 8645,
 454,
 455,
 449,
 458,
 8651,
 8649,
 459,
 464,
 466,
 83132,
 468,
 471,
 473,
 474,
 475,
 8666,
 479,
 481,
 482,
 485,
 8677,
 486,
 489,
 490,
 491,
 492,
 493,
 494,
 49649,
 499,
 500,
 498,
 502,
 49651,
 504,
 505,
 98809,
 507,
 508,
 509,
 514,
 515,
 516,
 517,
 519,
 520,
 115210,
 522,
 529,
 531,
 533,
 535,
 536,
 537,
 538,
 539,
 82459,
 541,
 542,
 543,
 82461,
 546,
 547,
 548,
 551,
 552,
 555,
 558,
 66097,
 562,
 575,
 577,
 8769,
 8772,
 8773,
 585,
 586,
 587,
 590,
 8781,
 592,
 593,
 594,
 595,
 596,
 597,
 8784,
 8783,
 8796,
 605,
 8798,
 41566,
 608,
 41569,
 609,
 57951,
 610,
 41573,
 41571,
 8807,
 616,
 611,
 8810,
 8813,
 8814,
 627,
 628,
 8823,
 631,
 8827,
 637,
 8830,
 8831,
 640,
 49793,
 647,
 648,
 8839,
 661,
 8860,
 33437,
 49822,
 671,
 8864,
 673,
 8866,
 8865,
 49824,
 8861,
 8870,
 678,
 8873,
 8874,
 58025,
 688,
 8880,
 8884,
 694,
 33463,
 8887,
 58047,
 704,
 707,
 708,
 709,
 711,
 8905,
 714,
 8907,
 8908,
 8910,
 719,
 720,
 3262,
 8914,
 8915,
 724,
 8917,
 33495,
 74458,
 33499,
 736,
 140174,
 741,
 8933,
 743,
 8937,
 745,
 8938,
 8939,
 748,
 750,
 8949,
 8950,
 8951,
 49910,
 58103,
 58105,
 760,
 761,
 8957,
 765,
 762,
 8965,
 8966,
 8968,
 8969,
 778,
 8972,
 8973,
 780,
 783,
 784,
 785,
 786,
 8978,
 788,
 8981,
 8982,
 8974,
 8984,
 8985,
 8983,
 8989,
 798,
 799,
 801,
 8994,
 802,
 27839,
 805,
 804,
 8998,
 808,
 99112,
 810,
 99114,
 9004,
 58154,
 58156,
 9000,
 818,
 9018,
 830,
 832,
 835,
 836,
 837,
 838,
 839,
 115534,
 33615,
 848,
 849,
 852,
 866,
 867,
 33639,
 33646,
 879,
 880,
 33649,
 881,
 892,
 898,
 899,
 900,
 33669,
 902,
 903,
 33672,
 904,
 905,
 906,
 908,
 907,
 910,
 33679,
 912,
 913,
 915,
 916,
 917,
 33681,
 919,
 920,
 918,
 922,
 923,
 924,
 926,
 928,
 115617,
 930,
 931,
 932,
 933,
 934,
 938,
 940,
 941,
 942,
 943,
 945,
 947,
 58293,
 950,
 951,
 58295,
 954,
 33722,
 58299,
 952,
 955,
 156609,
 963,
 965,
 969,
 986,
 991,
 994,
 996,
 1003,
 1005,
 50158,
 1007,
 1008,
 1010,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1019,
 1020,
 1021,
 1022,
 1023,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1036,
 41997,
 1037,
 42002,
 1042,
 1043,
 1047,
 1049,
 42011,
 42018,
 1059,
 1060,
 1061,
 33826,
 33830,
 74789,
 33836,
 1073,
 1077,
 1078,
 1079,
 1081,
 1082,
 1083,
 1084,
 1086,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1097,
 1099,
 1100,
 1101,
 1103,
 1104,
 1120,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1131,
 1132,
 1147,
 1148,
 148626,
 1172,
 1173,
 25750,
 25752,
 1178,
 25755,
 1179,
 1183,
 1185,
 1186,
 1187,
 1188,
 1193,
 1194,
 1199,
 1200,
 1202,
 1203,
 1204,
 33966,
 1206,
 1207,
 1208,
 1209,
 1212,
 1213,
 1214,
 58559,
 83134,
 1215,
 1217,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1218,
 1226,
 1228,
 1227,
 1230,
 1231,
 1233,
 1234,
 1235,
 1237,
 1238,
 1240,
 1242,
 1243,
 1244,
 1245,
 1247,
 1249,
 1250,
 25827,
 1252,
 1253,
 1254,
 1255,
 1256,
 1258,
 1259,
 1260,
 165101,
 1262,
 1263,
 1261,
 1265,
 1266,
 1267,
 1268,
 1269,
 1272,
 1274,
 1276,
 1277,
 1278,
 34048,
 1280,
 1282,
 1284,
 1285,
 1286,
 1288,
 1289,
 50442,
 1292,
 1290,
 1295,
 1296,
 1297,
 1298,
 1301,
 1303,
 1304,
 34072,
 165141,
 1307,
 1320,
 1321,
 1333,
 1339,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1348,
 1350,
 1355,
 1357,
 1358,
 1359,
 25931,
 1361,
 1363,
 1366,
 1367,
 1370,
 25946,
 1372,
 1371,
 1375,
 1377,
 1373,
 1378,
 1380,
 91485,
 34150,
 1382,
 66915,
 34153,
 1385,
 1387,
 1388,
 91500,
 1390,
 1391,
 25961,
 1394,
 1396,
 66934,
 1398,
 1401,
 1405,
 1407,
 1408,
 1409,
 1411,
 1412,
 1416,
 91529,
 25995,
 40988,
 1422,
 91535,
 1425,
 1426,
 1429,
 91542,
 83349,
 26012,
 1438,
 1440,
 1441,
 1442,
 1445,
 50601,
 1449,
 1457,
 42418,
 1459,
 1460,
 58803,
 1461,
 1466,
 140737,
 1474,
 1475,
 1476,
 1479,
 1480,
 1483,
 1487,
 1489,
 1497,
 1499,
 1500,
 1503,
 26084,
 1513,
 1515,
 1517,
 1518,
 91630,
 26101,
 26111,
 1537,
 1541,
 1542,
 1544,
 34319,
 1552,
 34321,
 67087,
 34323,
 1556,
 83480,
 1562,
 34332,
 1566,
 34334,
 34336,
 1569,
 1573,
 26152,
 1583,
 1586,
 1588,
 1589,
 1590,
 1591,
 1592,
 1593,
 1594,
 1595,
 1597,
 1598,
 1599,
 1602,
 1603,
 26181,
 99910,
 1608,
 1611,
 1614,
 1615,
 1616,
 1617,
 1619,
 1620,
 1623,
 1625,
 1626,
 1635,
 34405,
 1639,
 50792,
 1641,
 1643,
 1644,
 1645,
 1647,
 157296,
 50804,
 58998,
 67193,
 1658,
 1661,
 67197,
 1663,
 1665,
 1667,
 1673,
 59018,
 1676,
 42632,
 1678,
 1680,
 1686,
 1687,
 1688,
 1689,
 1690,
 157340,
 59037,
 83613,
 1701,
 1702,
 1704,
 1707,
 1711,
 1713,
 1717,
 1719,
 50872,
 1721,
 67255,
 1726,
 1727,
 1729,
 1731,
 1732,
 1734,
 1735,
 1739,
 1747,
 1748,
 34520,
 1753,
 1754,
 42718,
 59103,
 1760,
 1762,
 42723,
 34532,
 ...}